@import "../global-variables.scss";

.button {
  background-color: $blue;
  border: none;
  color: $text-light;
  cursor: pointer;
  padding: 30px 42px;
  font-weight: 700;
  border-radius: $btn-border-radius;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.9;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
  }
}
