@import "../global-variables.scss";

.statistics {
  display: flex;
  gap: 30px;
  &Text {
    font-weight: 600;
  }
  &Num {
    background-color: $blue;
    height: 100px;
    width: 100px;
    color: $text-light;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.15em;
    border-radius: 100%;
    font-weight: 500;
  }
  &Info {
    flex-basis: content;
  }
  &Link {
    text-decoration: underline;
    font-weight: 600;
    color: $text-blue;
  }
}

@media (max-width: 768px) {
}
