@import '../global-variables.scss';

.menu{
    &List{
        margin: 0;
        display: flex;
        justify-content: space-between;
        height: 96px;
        align-items: center;
        padding: 0;
    }
    &Item{
        list-style: none;
    }
    &Link{
        color: $text-light;
        text-decoration: none;
    }
}